- remove_form_id = local_assigns.fetch(:remove_form_id, nil)
- date = permanent_deletion_date_formatted(group, Time.now.utc)

- if group.marked_for_deletion?
  = render Pajamas::CardComponent.new(card_options: { class: 'gl-new-card' }, header_options: { class: 'gl-new-card-header gl-flex-direction-column' }, body_options: { class: 'gl-new-card-body gl-bg-red-50 gl-px-5 gl-py-4' }) do |c|
    - c.with_header do
      .gl-new-card-title-wrapper
        %h4.gl-new-card-title.gl-text-red-500= _('Delete group immediately')
      %p.gl-new-card-description

    - c.with_body do
      = form_tag(group, method: :delete, id: remove_form_id) do
        %p
          = html_escape(_("This group is scheduled for deletion on %{date}. This action will permanently delete this group, including its subgroups and projects, %{strong_open}immediately%{strong_close}. This action cannot be undone.")) % { date: tag.strong(date), strong_open: '<strong>'.html_safe, strong_close: '</strong>'.html_safe }

        = hidden_field_tag(:permanently_remove, true)

        = render 'groups/settings/remove_button', group: group, remove_form_id: remove_form_id, button_text: _('Delete group immediately')
