- return unless Feature.enabled?(:manage_pat_by_group_owners_ready, group)

%h5= s_('GroupSettings|Enforce DPoP authentication for manage API endpoints for group')

.form-group.gl-mb-3
  = f.gitlab_ui_checkbox_component :require_dpop_for_manage_api_endpoints, checkbox_options: { disabled: !can?(current_user, :admin_group, group), checked: group.require_dpop_for_manage_api_endpoints? } do |c|
    - c.with_label do
      = s_('GroupSettings|Enforce DPoP authentication for manage API endpoints for group')
    - c.with_help_text do
      = s_("GroupSettings|If enabled, DPoP authentication will be enforced for manage API endpoints for this group.")
      = succeed '.' do
        = link_to s_('GroupSettings|Enforce DPoP authentication for manage API endpoints for group'), help_page_path('user/group/manage.md'), class: 'gl-font-sm', target: :_blank
