- popover_title = s_("ExperimentBadge|What's an experiment?")
- popover_content = capture do
  %p
    = s_("ExperimentBadge|An experiment is not yet production-ready, but is released for initial testing and feedback during development.")
  %p.gl-mb-0
    = s_("ExperimentBadge|Experiments:")

  %ul.gl-pl-4
    %li
      = s_("ExperimentBadge|Might be unstable or cause data loss.")
    %li
      = s_("ExperimentBadge|Are not supported and might not be documented.")
    %li
      = s_("ExperimentBadge|Could be changed or removed at any time.")
    %li
      = s_("ExperimentBadge|Are subject to the GitLab Testing Agreement.")

- popover_data = { container: 'body', toggle: 'popover', placement: "top", html: 'true', triggers: 'hover focus', title: popover_title, content: popover_content }

%div{ class: style }
  = gl_badge_tag(_('Experiment'), variant: :neutral, href: '#', data: popover_data)
