- content_for(:hide_empty_navbar, true)
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"
= render "layouts/google_tag_manager_body"


= render Pajamas::CardComponent.new(card_options: { class: 'gl-max-w-2xl gl-mx-auto gl-rounded-none gl-mt-6 gl-border-1 gl-border-solid gl-border-default'}, body_options: { class: 'gl-p-8' }, footer_options: { class: 'gl-rounded-none' }) do |c|
  - c.with_body do
    .gl-text-center.gl-mb-6
      = image_tag 'illustrations/gitlab_logo.svg', class: 'gl-h-9', alt: 'GitLab'

    %h2.gl-mt-0.gl-text-center
      = s_('Trial|Welcome to GitLab')

    %p.gl-text-subtle.gl-text-lg.gl-text-center
      = s_('Trial|Help us personalize your GitLab experience by answering a few questions')

    .gl-max-w-80.gl-mx-auto
      #js-create-trial-welcome-form{ data: { view_model: form_data } }
