- namespace = local_assigns.fetch(:namespace)

- primary_cta = s_('BillingPlans|Start a free GitLab Duo Enterprise Trial')
- primary_link = new_trials_duo_enterprise_path(namespace_id: namespace.id)

= render Pajamas::CardComponent.new(card_options: { data: { testid: 'duo-enterprise-trial-alert' },
  class: 'gl-border gl-border-blue-300 gl-bg-blue-50 gl-rounded-base gl-text-left gl-mt-6 gl-p-3' }) do |c|
  - c.with_body do
    .gl-text-size-h2.gl-font-bold
      = sprite_icon('tanuki-ai', css_class: 'gl-mr-2 !gl-align-baseline')
      = duo_enterprise_trial_alert_data[:title]
    .gl-mb-5
      - duo_enterprise_trial_alert_data[:body].map do |line|
        .gl-mt-3
          = line
    .gl-flex.gl-flex-wrap.gl-gap-3
      = render Pajamas::ButtonComponent.new(href: primary_link,
        variant: 'confirm',
        button_text_classes: '!gl-whitespace-normal',
        button_options: { class: 'gl-w-full sm:gl-w-auto',
        data: { event_tracking: 'click_duo_enterprise_trial_billing_page',
        event_label: 'duo_enterprise_trial' } }) do
        = primary_cta
      .js-hand-raise-lead-trigger{ data: duo_enterprise_trial_alert_hand_raise_lead_data }
