.gl-max-w-6xl.gl-mx-auto{ data: { track_action: 'render' } }
  = render 'shared/targeted_message_banner', group: namespace
  #js-free-trial-plan-billing{ "data-view-model": free_trial_plan_billing_attributes(namespace, plans_data).to_json }

.gl-mt-8.gl-text-center
  .gl-text-lg.gl-mb-5
    = s_("BillingPlans|Trusted by")
  .gl-flex.gl-gap-5.gl-mb-5.gl-justify-center.gl-items-center.gl-flex-wrap
    - logo_classes = 'dark:gl-invert'

    - trusted_by_logos.each do |logo|
      = image_tag(logo[:path], alt: logo[:name], title: logo[:name], class: logo[:no_invert] ? "" : logo_classes)
  - image_alt = s_('InProductMarketing|Team members collaborating')
  = image_tag 'marketing/free-trial-team-members.png', alt: image_alt, title: image_alt, width: 210, height: 90, class: 'gl-mb-3'
  .gl-text-size-h1.gl-font-bold.gl-leading-24.gl-mb-5
    = s_("BillingPlans|Have a question? We're here to help.")
  .js-hand-raise-lead-trigger{ data: free_plan_billing_hand_raise_lead_data }
