- return unless top_bar_duo_button_enabled?

.gl-flex-none.gl-flex.gl-items-center.gl-justify-center.gl-gap-3
- label = s_('DuoChat|GitLab Duo Chat')
- duo_with_amazon_q_label = s_('DuoChat|GitLab Duo with Amazon Q')
- chat_disabled_reason = ::Gitlab::Llm::TanukiBot.chat_disabled_reason(user: current_user, container: @group || @project).to_s
- amazon_q_enabled = ::Ai::AmazonQ.enabled?

- if chat_disabled_reason.present?
  - translated_project = s_('DuoChat|project')
  - translated_group = s_('DuoChat|group')
  - translated_reason = chat_disabled_reason == 'project' ? translated_project : translated_group
  - tooltip_text = safe_format(s_('DuoChat|An administrator has turned off GitLab Duo for this %{reason}'), reason: translated_reason)

  %span.has-tooltip{ title: tooltip_text, data: { container: 'body' } }
    = render Pajamas::ButtonComponent.new(variant: :default,
      category: :secondary,
      icon: 'duo-chat-off',
      size: 'medium',
      button_options: { class: 'disabled-button-1 js-tanuki-bot-chat-toggle gl-hidden @md/panel:gl-inline',
                        data: { track_action: 'click_button', track_label: 'tanuki_bot_breadcrumbs_button',
                                chat_disabled_reason: chat_disabled_reason },
                                aria: { label: label, disabled: "true" }, disabled: true }) do
      = label

  %span.has-tooltip{ title: tooltip_text, data: { container: 'body' } }
    = render Pajamas::ButtonComponent.new(variant: :default,
      category: :secondary,
      icon: 'duo-chat-off',
      size: 'medium',
      button_options: { class: 'disabled-button-2 js-tanuki-bot-chat-toggle @md/panel:gl-hidden',
                        data: { track_action: 'click_button', track_label: 'tanuki_bot_breadcrumbs_button',
                                chat_disabled_reason: chat_disabled_reason },
                                aria: { label: label, disabled: "true" }, disabled: true })

- else
  - duo_button_description = _('Open GitLab Duo Chat')
  - duo_button_shortcut = 'd'
  - duo_button_title = "#{duo_button_description} <kbd class='flat !gl-ml-2' aria-hidden=true>#{duo_button_shortcut}</kbd>"
  = render Pajamas::ButtonComponent.new(variant: :default,
    category: :secondary,
    icon: 'duo-chat',
    size: 'medium',
    button_options: { class: 'has-tooltip enabled-button js-tanuki-bot-chat-toggle gl-hidden @md/panel:gl-inline',
                      aria: { keyshortcuts: duo_button_shortcut,
                              label: amazon_q_enabled ? duo_with_amazon_q_label : label },
                      data: { track_action: 'click_button', track_label: 'tanuki_bot_breadcrumbs_button', html: 'true' },
                      title: duo_button_title}) do
    = amazon_q_enabled ? duo_with_amazon_q_label : label
  = render Pajamas::ButtonComponent.new(variant: :default,
    category: :secondary,
    icon: 'duo-chat',
    size: 'medium',
    button_options: { class: 'has-tooltip enabled-button js-tanuki-bot-chat-toggle @md/panel:gl-hidden',
                      aria: { keyshortcuts: duo_button_shortcut,
                      label: amazon_q_enabled ? duo_with_amazon_q_label : label },
                      data: { track_action: 'click_button', track_label: 'tanuki_bot_breadcrumbs_button', html: 'true' },
                      title: duo_button_title})
