- form = local_assigns.fetch(:form)
- project = local_assigns.fetch(:project)

- if ::Feature.enabled?(:merge_request_title_regex, project)
  .form-group
    = form.label :merge_request_title_regex, s_('ProjectSettings|Merge request title validation pattern'), class: 'gl-mb-0'
    %p.gl-text-subtle
      %span{ id: :merge_request_title_hint }
        - regex_link = link_to('', 'https://github.com/google/re2/wiki/Syntax', target: '_blank', rel: 'noopener noreferrer')
        = safe_format(s_('ProjectSettings|All merge request titles must match this %{link_start}regular expression%{link_end}. If empty, any title is allowed.'), tag_pair(regex_link, :link_start, :link_end))

    = form.text_field :merge_request_title_regex, class: "form-control", placeholder: '^\[.+\]', aria: { describedby: :merge_request_title_hint }
  .form-group
    - example_placeholder = s_('ProjectSettings|[Feature] Add login')
    = form.label :merge_request_title_regex_description, s_('ProjectSettings|Merge request title example'), class: 'gl-mb-0'
    %p.gl-text-subtle
      %span{ id: :merge_request_title_regex_description_hint }
        = s_('ProjectSettings|Shown to users when creating merge requests.')

    = form.text_field :merge_request_title_regex_description, class: "form-control", placeholder: example_placeholder, aria: { describedby: :merge_request_title_regex_description_hint }
    %p.gl-text-subtle
      %span
        = s_('ProjectSettings|Usage example: "Title must match validation pattern `%{pattern}`."') % { pattern: example_placeholder }
