- form = local_assigns.fetch(:form)
- project = local_assigns.fetch(:project)

- if ::Feature.enabled?(:merge_request_title_regex, project)
  .form-group
    = form.label :merge_request_title_regex, s_('ProjectSettings|Title regex'), class: 'gl-mb-0'
    %p.gl-text-subtle
      %span{ id: :merge_request_title_hint }
        = s_('ProjectSettings|Regex that all merge request titles must match')

    = form.text_field :merge_request_title_regex, class: "form-control", placeholder: '\w{4}-\d{4,8}\s.*', aria: { describedby: :merge_request_title_hint }
  .form-group
    = form.label :merge_request_title_regex_description, s_('ProjectSettings|Regex explanation'), class: 'gl-mb-0'
    %p.gl-text-subtle
      %span{ id: :merge_request_title_regex_description_hint }
        = s_('ProjectSettings|The plain language explanation of what this expression enforces. Consider including examples that will pass.')

    = form.text_field :merge_request_title_regex_description, class: "form-control", placeholder: 'Four letters, a dash, and 4-8 numbers followed by a space and any other text.', aria: { describedby: :merge_request_title_regex_description_hint }
