- selected_deprecated_models_count = selected_deprecated_models.count

= render Pajamas::AlertComponent.new(title: n_("Model scheduled for removal", "Models scheduled for removal", selected_deprecated_models_count),
  variant: :info,
  dismissible: false,
  alert_options: { data: { testid: 'ai-model-deprecation-alert' } }) do |c|
  = c.with_body do
    - if selected_deprecated_models_count == 1
      %p
        - deprecation_message = s_('AiModelDeprecation|Model %{strong_start}%{model_name}%{strong_end} was deprecated on %{strong_start}%{deprecation_date}%{strong_end} and will stop working after GitLab removes it in %{strong_start}%{removal_version}%{strong_end}. Please change to an alternative model before %{strong_start}%{removal_version}%{strong_end} to avoid disruption.')
        = html_escape(deprecation_message) % { model_name: selected_deprecated_models[0]['name'], deprecation_date: selected_deprecated_models[0]['deprecation']['deprecation_date'], removal_version: selected_deprecated_models[0]['deprecation']['removal_version'], strong_start: '<strong>'.html_safe, strong_end: '</strong>'.html_safe }
    - else
      %p= s_('AiModelDeprecation|The following models have been deprecated and will stop working after GitLab removes them. Please change to an alternative model before the removal version to avoid disruption.')
      %ul
        - selected_deprecated_models.each do |model|
          - deprecation_message = s_('%{strong_start}%{model_name}%{strong_end} (deprecated %{strong_start}%{deprecation_date}%{strong_end} - Removes in: %{strong_start}%{removal_version}%{strong_end})')
          %li
            = html_escape(deprecation_message) % { model_name: model['name'], deprecation_date: model.dig('deprecation', 'deprecation_date'), removal_version: model.dig('deprecation', 'removal_version'), strong_start: '<strong>'.html_safe, strong_end: '</strong>'.html_safe }

  = c.with_actions do
    = helpers.link_button_to s_('AiModelDeprecation|Change model'), model_selection_path, class: 'gl-mb-3', variant: :confirm
