- content_for :title do
  = s_("SecretRotation|Secret rotation reminder")

%p
  = s_("SecretRotation|Hi %{name}!") % { name: sanitize_name(@user.name) }

%p
  = s_("SecretRotation|Your secret '%{secret_name}' in project %{project_name} requires rotation.") % { secret_name: @secret_name, project_name: @project.name }

%p
  = s_("SecretRotation|Please change the secret value to maintain security.")

%p
  - secret_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: @target_url }
  = html_escape(s_('SecretRotation|You can %{secret_link_start}update the secret%{secret_link_end} in your project settings.')) % { secret_link_start: secret_link_start, secret_link_end: '</a>'.html_safe }
