%p
  = s_('VirtualRegistry|Hi %{username}!') % { username: sanitize_name(@user.name) }

%p
  = s_('VirtualRegistry|The scheduled cache cleanup for %{group_link} could not be completed.').html_safe % { group_link: link_to(sanitize_name(@group.name), group_url(@group), target: '_blank', rel: 'noopener noreferrer nofollow') }

%h3= s_('VirtualRegistry|Summary of the cleanup')

%ul
  %li
    %strong= s_('VirtualRegistry|Rule:')
    = s_('VirtualRegistry|Not accessed in the last %{days} days') % { days: @policy.keep_n_days_after_download }
  %li
    %strong= s_('VirtualRegistry|Error:')
    = @policy.failure_message

%p
  = s_('VirtualRegistry|You can review the full cleanup details in the %{audit_events_link}.').html_safe % { audit_events_link: link_to(s_('VirtualRegistry|audit log'), group_audit_events_url(@group), target: '_blank', rel: 'noopener noreferrer nofollow') }
