- learn_more_link = link_to('', help_page_path('user/profile/account/account_succession.md'), target: '_blank', rel: 'noreferrer')
- account_manager = designated_account_manager || Users::DesignatedBeneficiary.new(type: 'manager')
- form_expanded = account_manager.errors.any?

= render ::Layouts::CrudComponent.new(s_('Profiles|Designated account manager'),
  description: safe_format(s_('Profiles|Assign an individual who has legal authority to manage your GitLab account in the event of your incapacity. %{link_start}Learn more%{link_end}.'), tag_pair(learn_more_link, :link_start, :link_end)),
  form_options: { class: form_expanded ? '' : 'gl-hidden js-toggle-content' },
  options: { class: 'js-toggle-container js-token-card' }) do |c|

  - c.with_actions do
    - unless account_manager.persisted?
      = render Pajamas::ButtonComponent.new(button_options: { class: 'js-toggle-button js-toggle-content' }) do
        = s_('Profiles|Add account manager')

  - c.with_form do
    - url = account_manager.persisted? ? profile_designated_beneficiary_path(account_manager) : profile_designated_beneficiaries_path
    = gitlab_ui_form_for account_manager, url: url, html: { class: 'gl-show-field-errors', autocomplete: 'off', aria: { live: 'assertive' }} do |f|
      = f.hidden_field :type, value: 'manager'

      .form-group
        = f.label :name, s_('Profiles|Full name'), class: 'label-bold'
        = f.text_field :name, class: 'form-control gl-form-input gl-form-input-xl js-validate-length',
          title: s_('Profiles|Full name is required.'),
          required: true,
          data: { max_length: 255, max_length_message: s_('Profiles|Full name is too long (maximum is 255 characters).') }

      .form-group
        = f.label :email, s_('Profiles|Email address (optional)'), class: 'label-bold'
        = f.email_field :email, class: 'form-control gl-form-input gl-form-input-xl js-validate-length',
          pattern: '.+\.[a-zA-Z]{2,}',
          title: s_('Profiles|Provide a valid email address.'),
          data: { max_length: 255, max_length_message: s_('Profiles|Email address is too long (maximum is 255 characters).') }

      = render Pajamas::ButtonComponent.new(variant: :confirm, type: :submit) do
        = account_manager.persisted? ? s_('Profiles|Update account manager') : s_('Profiles|Add account manager')

      = render Pajamas::ButtonComponent.new(type: :reset, button_options: { class: 'gl-ml-2 js-toggle-button' }) do
        = _('Cancel')

  - c.with_body do
    - if account_manager.persisted?
      .table-holder
        %table.table.b-table.gl-table.b-table-stacked-md{ role: 'table' }
          %thead
            %tr
              %th{ class: 'gl-w-1/2' }= s_('Profiles|Full name')
              %th{ class: 'gl-w-1/4' }= s_('Profiles|Email address')
              %th= _('Actions')
          %tbody
            %tr
              %td{ data: { label: s_('Profiles|Full name') } }= account_manager.name
              %td{ data: { label: s_('Profiles|Email address') } }= account_manager.email
              %td{ data: { label: _('Actions') }, class: '!gl-py-3' }
                = render Pajamas::ButtonComponent.new(icon: 'remove', href: profile_designated_beneficiary_path(account_manager), method: :delete, button_options: { title: _('Delete'), class: 'has-tooltip', data: { title: s_('Profiles|Delete account manager?'), confirm: _('This will permanently delete the designated account manager.'), confirm_btn_variant: 'danger' }, aria: { label: s_('Profiles|Delete account manager') }})
                = render Pajamas::ButtonComponent.new(icon: 'pencil', button_options: { title: _('Edit'), class: 'gl-ml-2 js-toggle-button js-toggle-content has-tooltip' })
    - else
      = s_('Profiles|No designated account manager assigned.')
