.gl-text-left
  = render Pajamas::CardComponent.new do |c|
    - c.with_body do
      %h5
        = sprite_icon('tanuki-ai', css_class: 'gl-mr-2')
        = s_('CodeSuggestions|Introducing the GitLab Duo Pro add-on')
      %p
        = card_text
      .gl-flex.gl-flex-col.sm:gl-flex-row.gl-gap-3
        = render Pajamas::ButtonComponent.new(href: new_trials_duo_pro_path(namespace_id: namespace.id),
          category: 'primary',
          variant: 'confirm',
          button_options: { data: { event_tracking: 'click_duo_pro_trial_billing_page' } }) do
          = s_("BillingPlans|Start a free GitLab Duo Pro trial")

        .js-hand-raise-lead-trigger{ data: hand_raise_lead_data }
